extends admin_base.pug

block append content
    div(class='container')
        div(class='row mb-3')
            div(class='col-sm-6 ms-auto')            
                a(href="/admin/flight" class="btn btn-primary my-3") Flight Admin
        div(class='row mb-3')
            div(class='col-sm-6 ms-auto')            
                a(href='/admin/booking' class="btn btn-primary my-3") Booking Admin        

        