doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  
  title My Web App
  
  link(href='/css/bootstrap-5.2.0/css/bootstrap.css' rel='stylesheet' type="text/css")
  script(src='/css/bootstrap-5.2.0/css/particles.min.js')
  script(src="https://code.jquery.com/jquery-3.6.1.min.js")

include home_header.pug
block content