extends base.pug

block append content
    div(class='container-fluid')
        h3 Booking Success
        div(class='row mb-3')
            each msg in msgs
                label(class='col-sm-12 col-form-label') #{msg}