extends base.pug

block append content
    div(class='container-fluid')
        h1 Welcome to My Web App
    div(class='container-fluid')
        div(class='form-group row col-4 mb-3')
            div(class='col-sm-12 mb-3')
                a(href='/register' class='col-sm-12 mb-3') Register
    div(class='container-fluid')
        div(class='form-group row col-4 mb-3')
            div(class='col-sm-12 mb-3')
                a(href='/login' class='col-sm-12 mb-3') Login

    if msg
        span(class="border")
            label(class='col-sm-3 col-form-label') #{msg}