extends base.pug

block append content
    form(action='/login' method='POST')
        div(class='container-fluid')
            h1 Login
            div(class='form-group row col-4 mb-3')
                div(class='col-sm-12 mb-3')
                    input(type='email' class='form-control' placeholder='email' id='email' name='email')
                div(class='col-sm-12 mb-3')
                    input(type='password' class='form-control' placeholder='password' id='email' name='password')
                div(class='col-sm-4 mb-3')
                    a(class='col-sm-4 col-form-label' href='/forgotpassword') Forgot Password
                div(class='col-sm-12 mb-3')    
                    button(type='submit' class='col-sm-12 mb-3') Login
            if msg
                span(class="border")
                    label(class='col-sm-3 col-form-label') #{msg}