extends base.pug

block append content
    form(action='/register' method='POST')
        div(class='container')
            div(class='form-group row col-6 mb-3')
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Title
                    div(class='col-sm-6 ms-auto')
                        input(type='text',class='form-control',id='title',name='title')
                div(class='row mb-3')
                    label(class='col-sm-2 col-form-label') Last Name
                    div(class='col-sm-6 ms-auto')
                        input(type='text',class='form-control',id='ln',name='ln')
                div(class='row mb-3')
                    label(class='col-sm-2 col-form-label') First Name
                    div(class='col-sm-6 ms-auto')            
                        input(type='text',class='form-control',id='fn',name='fn')
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Date of Birth
                    div(class='col-sm-6 ms-auto')            
                        input(type='day',class='form-control',id='dob_d',name='dob_d')
                        input(type='month',class='form-control',id='dob_m',name='dob_m')
                        input(type='year',class='form-control',id='dob_y',name='dob_y')                        
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Country / Region
                    div(class='col-sm-6 ms-auto')
                        input(class='form-control',id='cntry',name='cntry')
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') State / Province
                    div(class='col-sm-6 ms-auto')
                        input(class='form-control',id='state',name='state')
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Phone
                    div(class='col-sm-6 ms-auto')
                        input(type='tel',class='form-control',id='phone',name='phone')                
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Email
                    div(class='col-sm-6 ms-auto')
                        input(type='email',class='form-control',id='email',name='email')
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Password
                    div(class='col-sm-6 ms-auto')            
                        input(type='password',class='form-control',id='pass' ,name='pass')
                div(class='row mb-3')
                    label(class='col-sm-3 col-form-label') Confirm Password
                    div(class='col-sm-6 ms-auto')            
                        input(type='password',class='form-control',id='cfm_pass', name='cfm_pass')
                div(class='row mb-3')
                    div(class='col-sm-6 ms-auto')            
                        button(type='submit' class="btn btn-primary my-3" value='register',name='register') Register