extends base.pug

block append content
    div(class='container-fluid')
        h1 Register Successful
    div(class='container-fluid')
        div(class='form-group row col-4 mb-3')
            div(class='col-sm-12 mb-3')
                a(href='/' class='col-sm-12 mb-3') Back to main page
            if msg
                span(class="border")
                    label(class='col-sm-3 col-form-label') #{msg}

